.nav-link{
  color:aliceblue;
  
 }
 .responsive-font-example{
   font-size: 100px;
   text-align: center;
   position: relative;
   top: 70px;
 
 }
 .carouselmain{
   background-color:white;
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
 }
 
 .tagline{
   font-size: 20px;
   text-align: center;
   position: relative;
   top: 80px;
 }
 @media (max-width:1199.98px) {
   .responsive-font-example{
 font-size: 50px;
   }
 }
 @media (max-width:1199.98px){
   .tagline{
     font-size:15px;
   }
 }
 
 .bi-bi-cloud-arrow-up-fill{
   width: 50px;
   height: 80px;
   position: absolute;
   right: 700px;
   top: 10px ;  
 }
 
 @media (max-width:1198.99px){
   .bi-bi-cloud-arrow-up-fill{
     right: 160px;
    
   }
   }
   
     .bi-bi-arrow-down{
       width: 30px;
       height: 50px;
       position: absolute;
       right: 710px;
       top: 60px;
     }
   
     @media (max-width:1198.99px){
       .bi-bi-arrow-down{
         width: 30px;
         height: 50px;
         position: absolute;
         right: 170px;
         top: 60px;
 
       }
       }
       @media (min-width:1200px){
         .bi-bi-record2{
           width: 30px;
           height: 50px;
           position: absolute;
           right: 710px;
           top: 100px;
         }
         }
         @media (max-width:1199.98px){
           .bi-bi-record2{
             width: 30px;
             height: 50px;
             position: absolute;
             right: 170px;
             top: 100px;
     
           }
           }
           @media (min-width:1200px){
             .bi-bi-arrow-down2{
               width: 30px;
               height: 50px;
               position: absolute;
               right: 710px;
               top: 140px;
             }
             }
             @media (max-width:1199.98px){
               .bi-bi-arrow-down2{
                 width: 30px;
                 height: 50px;
                 position: absolute;
                 right: 170px;
                 top: 140px;
         
               }
               }
               @media (min-width:1200px){
                 .bi-bi-currency-rupee{
                   width: 30px;
                   height: 50px;
                   position: absolute;
                   right: 710px;
                   top: 190px;
                 }
                 }
                 @media (max-width:1199.98px){
                   .bi-bi-currency-rupee{
                     width: 30px;
                     height: 50px;
                     position: absolute;
                     right: 170px;
                     top: 190px;
             
                   }
                   }
                 
                   @media (min-width:1200px){
                     .carousel3{
                       position: absolute;
                       right: 300px;
                       top: 100px;
                       font-size: 3rem;
                     }
                     }
                     @media (max-width:1199.98px){
                       .carousel3{
                         position: absolute;
                         right: 60px;
                         top: 140px;
                       }
                       }
                       .carousel-control-next{
                       margin-right: 0px;
                       }
                       .carousel-item {
                         height: 300px;
                         }
                  .btn-upload{
                   position: relative;
                   padding: 11px 16px;
                   font-size: 15px;
                   line-height: 1.5;
                   border-radius: 10px;
                   background-color:black;
                   color:white;
                   border: 0;
                   overflow: hidden;
                   transition: 1s;
               
                  }
                  .btn-upload input[type='file']{
                   cursor:pointer;
                   position: absolute;
                   left: 0%;
                   top: 0%;
                 transform: scale(5);
                 opacity: 0;
               
                  }
                  .preview-name{
                   background-color: red;
                   width: 100px;
                   height: 100px;
                   color: black;
                  }
                
                     .nopagesbox,.nocopiesbox{
                       border-color:black;
                       border-radius: 10px;
                   margin-left: 15px;
                       width: 100px;
                  
                     }
                     @media (min-width:1200px){
                       .btn-upload{
                         position: absolute;
                         right: 650px;
                         top: 60px;
                        
                       }
                       .noofpages{
                        position: absolute;
                        right: 750px;
                        top: 120px;
                        margin-top: 20px;
                       
                      }
                      .noofcopies{
                        position: absolute;
                        right: 450px;
                        top: 120px;
                        margin-top: 20px;
                      
                      }
                       .form-check1{
                         position: absolute;
                         right: 750px;
                         top: 50px;
                         margin-top: 30px;
                       }
                       .form-check2{
                         position: absolute;
                         right: 600px;
                         top: 50px;
                         margin-top: 30px;
                       }
                       .form-check3{
                         position: absolute;
                         right: 755px;
                         top: 100px;
                         margin-top: 30px;
                       }
                       .form-check4{
                         position: absolute;
                         right:565px;
                         top: 100px;
                         margin-top: 30px;
                       }
                       #showpricebtn{
                        position: absolute;
                        right: 650px;
                       bottom: 90px;
                      }
                      #checkoutbtn{
                        position: absolute;
                        right: 660px;
                        bottom: 10px;
                      }
                      #footer,#contact-section{
                        width: 80vw;
                        padding: 1rem;
                        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
                        background-color: white;
                        color: black;
                        border-radius: 0.5rem;
                        position: relative;
                        margin-top: 30px;
                       margin-left: 140px;
                      }
                    
                      
                      
                       }
                       @media (max-width:1199.98px){
                         .btn-upload{
                           position: absolute;
                           right: 100px;
                           top: 60px;
                          
                         }
                         .noofpages{
                           position: absolute;
                           right: 50px;
                           top: 140px;
                           
                         }
                         .noofcopies{
                           position: absolute;
                           right: 50px;
                           top: 200px;
                          
                         }
                         .form-check1{
                           position: absolute;
                           right: 150px;
                           top: 50px;
                           margin-top: 20px;
                          
                         }
                         .form-check2{
                           position: absolute;
                           right: 50px;
                           top: 50px;
                           margin-top: 20px;
                         }
                         .form-check3{
                           position: absolute;
                           right: 155px;
                           top: 100px;
                           margin-top: 30px;
                         }
                         .form-check4{
                           position: absolute;
                           right:15px;
                           top: 100px;
                         margin-top: 30px;
                         }
                         #showpricebtn{
                          position: absolute;
                          right: 100px;
                         bottom: 90px;
                        }
                        #checkoutbtn{
                          position: absolute;
                          right: 110px;
                          bottom: 10px;
                        }
                        #footer,#contact-section{
                          width: 70vw;
                          padding: 1rem;
                          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
                          background-color: white;
                          color: black;
                          border-radius: 0.5rem;
                          position: relative;
                          margin-top: 30px;
                          left: 60px;
                        }
                       }
                       .card-body1{
                         height: 220px;
                         background-color: white;
                         color: black;
                         border-radius: 10px;
                        
                        
                       }
                         .card-body2{
                           height: 150px;
                           background-color: white;
                           color:black;
                           border-radius: 10px;
                         }
                         .card-body3{
                          height: 150px;
                          background-color: white;
                          color: black;
                          border-radius: 10px;
                         }
                         #card1,#card2,#card3{
                         
                           margin-top: 10px;
                           border-radius: 10px;
                           margin-left: 20px;
                           margin-right: 20px;
                           box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
                           
                         }
                         .form-check-input{
                           margin-right: 10px;
                         }
                        

                         .work-container {
                          width: 80vw;
                          padding: 1.5rem;
                          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
                          margin-top: 5rem;
                          background-color: #fff;
                          border-radius: 0.5rem;
                        }
                        
                        .work-container .main-heading {
                          font-size: 3rem;
                          font-weight: bolder;
                          word-spacing: 0.11rem;
                          padding-bottom: 20px;
                          
                        }
                        
                        .work-container .sub-heading {
                          font-size: 2rem;
                          font-weight: normal;
                        }
                        .fontawesome-style {
                          font-size: 2rem;
                          display: grid;
                          place-items: center;
                          text-align: center;
                          margin: 0.5rem auto; 
                        
                        }
                        .work-container-subdiv .main-hero-para {
                          width: 100%;
                        }
                       
                       .connect,.contact{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                       
                       }
                       .socialicons{
                        font-size: 20px;
                       color: black;
                        border-radius: 50px;
                        margin: 20px;
                        height: 50vw;
                        line-height: 100px;
                       
                       }
                     .copyright{
                      text-align: center;
                      margin-top: 10px;
                      margin-bottom: -70px;
                      
                     }
                     .connectflex,.contactflex{
                      display: inline-block;
                      margin-right:25vw;
                     
                     }